*:focus {
    outline: 2px solid #FACC15;
}

body {
    font-family: "Open Sans", sans-serif;
    color: '#1C1917',
}

.grid-heading {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.grid-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}

.border-spacing-table {
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0.5rem;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
}

@media (max-width: 767px) {
    .grid-container {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .grid-container {
        grid-template-columns: 100px 1fr;
    }
}