@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css');
@import url('https://unpkg.com/@phosphor-icons/web@2.1.1/src/fill/style.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-spacing-table {
        --tw-border-spacing-x: 0px;
        --tw-border-spacing-y: 0.5rem;
        border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none; /* Esconde o scrollbar para WebKit browsers (Chrome, Safari) */
    }
      
    .hide-scrollbar {
        -ms-overflow-style: none; /* Esconde o scrollbar para Internet Explorer 10+ */
        scrollbar-width: none; /* Esconde o scrollbar para Firefox */
    }

    .hide-calendar-icon::-webkit-calendar-picker-indicator {
        opacity: 0;
        display: none;
        -webkit-appearance: none;
    }  

    .loader {
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #f03355;
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        animation: l1 2s infinite cubic-bezier(0.3,1,0,1);
    }
}

@keyframes l1 {
    33% {border-radius: 0;background: #514b82 ;clip-path: polygon(0 0,100% 0,100% 100%,0 100%)}
    66% {border-radius: 0;background: #ffa516 ;clip-path: polygon(50% 0,50% 0,100% 100%,0 100%)}
}

:root {
    -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

*:focus {
    outline: 2px solid #FACC15;
}

body {
    @apply font-sans text-stone-900
}